.red {
  color: red;
}

.green {
  color: green;
}

.gray {
  color: gray;
}

.blue {
  color: blue;
}

.layui-layout-admin .layui-body {
  bottom: 0px;
}

.root {
  height: 38px;
  width: 50px;
}

.layui-icon-export {
  font-size: 30px;
  color: gray;
  cursor: pointer;
}

.layui-icon-set-fill {
  font-size: 30px;
  color: gray;
  cursor: pointer;
}

textarea {
  resize: none !important;
}

::-webkit-input-placeholder {
  color: #bbbbbb;
}

:-moz-placeholder {
  color: #bbbbbb;
}

.ellipsis {
  width: 300px;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}

.center {
  text-align: center;
}

.layui-form-switch {
  margin-top: 3px;
  margin-bottom: 3px;
}

.layui-input-sm {
  height: 30px;
}

.layui-btn{
  margin-top: 1px;
  margin-bottom: 1px;
}

.json-editor {
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 300px;
}


/* ========== Shared utility classes ========== */

.grid-demo-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel-padding {
    padding: 15px;
}

.hidden-panel {
    display: none;
}

.status-color-warning {
    border-color: rgba(255, 183, 0, 0) !important;
}

.code-editor-container {
    height: 500px;
    width: 300px;
    overflow: hidden;
}
