<!DOCTYPE HTML>
<html>
<head>
<#include "common.html"/>
<style type="text/css">

.long{
    width: 210px;
}

.short{
    width: 110px!important;
}

input[name='param']{
    width: 100px;
}
</style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

<#include "header.html"/>
<#include "menu.html"/>

    <div class="layui-body">



        <!-- 内容主体区域 -->
        <div style="padding: 15px">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>${i18n.get("menu.about")}</legend>
            </fieldset>

            <div class="layui-bg-gray" style="padding: 16px;">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md6">
                        <div class="layui-card">
                            <div class="layui-card-header">项目介绍</div>
                            <div class="layui-card-body">
                                ${projectName} is a collection of tools for operations and maintenance surrounding the Docker registry(CNCF distribution).


                                <br/><br/>
                                <b>Features:</b>
                                <br/><br/>

                                <br/>- Multi distribution support
                                <br/>- Config private registry Or proxy registry
                                <br/>- Auth server for Multi distribution
                                <br/>- Auth type include None,silly, htpasswd, and token
                                <br/>- create jwks dynamic
                                <br/>- create read-only account dynamic

                                <br/><br/>
                                <b>Code repo:</b>
                                <br/><br/>
                                <a href="https://github.com/dyrnq/distops" target="_blank">
                                    <i class="layui-icon layui-icon-link"></i> github.com/dyrnq/distops
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md6">
                        <div class="layui-card">
                            <div class="layui-card-header">技术栈</div>
                            <div class="layui-card-body">
<!--                                <li>JDK8</li>-->
                                <li><a href="https://maven.apache.org/" target="_blank">Apache maven</a></li>
                                <li><a href="https://www.docker.com/" target="_blank">Docker</a></li>
                                <li><a href="https://solon.noear.org/" target="_blank">Solon</a>
                                    <svg width="16" height="16" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24 44C32.2347 44 38.9998 37.4742 38.9998 29.0981C38.9998 27.0418 38.8953 24.8375 37.7555 21.4116C36.6157 17.9858 36.3861 17.5436 35.1809 15.4279C34.666 19.7454 31.911 21.5448 31.2111 22.0826C31.2111 21.5231 29.5445 15.3359 27.0176 11.6339C24.537 8 21.1634 5.61592 19.1853 4C19.1853 7.06977 18.3219 11.6339 17.0854 13.9594C15.8489 16.2849 15.6167 16.3696 14.0722 18.1002C12.5278 19.8308 11.8189 20.3653 10.5274 22.4651C9.23596 24.565 9 27.3618 9 29.4181C9 37.7942 15.7653 44 24 44Z" fill="none" stroke="#d0021b" stroke-width="4" stroke-linejoin="round"/></svg>
                                    <svg width="16" height="16" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24 44C32.2347 44 38.9998 37.4742 38.9998 29.0981C38.9998 27.0418 38.8953 24.8375 37.7555 21.4116C36.6157 17.9858 36.3861 17.5436 35.1809 15.4279C34.666 19.7454 31.911 21.5448 31.2111 22.0826C31.2111 21.5231 29.5445 15.3359 27.0176 11.6339C24.537 8 21.1634 5.61592 19.1853 4C19.1853 7.06977 18.3219 11.6339 17.0854 13.9594C15.8489 16.2849 15.6167 16.3696 14.0722 18.1002C12.5278 19.8308 11.8189 20.3653 10.5274 22.4651C9.23596 24.565 9 27.3618 9 29.4181C9 37.7942 15.7653 44 24 44Z" fill="none" stroke="#d0021b" stroke-width="4" stroke-linejoin="round"/></svg>
                                    <svg width="16" height="16" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24 44C32.2347 44 38.9998 37.4742 38.9998 29.0981C38.9998 27.0418 38.8953 24.8375 37.7555 21.4116C36.6157 17.9858 36.3861 17.5436 35.1809 15.4279C34.666 19.7454 31.911 21.5448 31.2111 22.0826C31.2111 21.5231 29.5445 15.3359 27.0176 11.6339C24.537 8 21.1634 5.61592 19.1853 4C19.1853 7.06977 18.3219 11.6339 17.0854 13.9594C15.8489 16.2849 15.6167 16.3696 14.0722 18.1002C12.5278 19.8308 11.8189 20.3653 10.5274 22.4651C9.23596 24.565 9 27.3618 9 29.4181C9 37.7942 15.7653 44 24 44Z" fill="none" stroke="#d0021b" stroke-width="4" stroke-linejoin="round"/></svg>
                                </li>
                                <li><a href="https://layui.dev/" target="_blank">Layui</a></li>


                            </div>
                        </div>
                    </div>
                </div>


                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md6">
                        <div class="layui-card">
                            <div class="layui-card-header">开发人员</div>
                            <div class="layui-card-body">
                                <table class="layui-hide" id="ID-table-demo-data"></table>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md6">
                        <div class="layui-card">
                            <div class="layui-card-header">常见问题</div>
                            <div class="layui-card-body">


                            </div>
                        </div>
                    </div>

                </div>





            </div>





        </div>
    </div>
</div>



<#include "script.html"/>
<script src="${ctx}/js/admin/about/index.js?v=${jsrandom}" type="text/javascript"></script>
</body>
</html>