<!DOCTYPE HTML>
<html>
<head>
    <#include "common.html"/>
    <style type="text/css">
        #editorNginx, #editorApache { height: 500px; }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-form" style="padding: 15px;">

    <fieldset class="layui-elem-field">
        <legend>Configuration</legend>
        <div class="layui-field-box">
            <div class="layui-row layui-col-space10">
                <div class="layui-col-md3">
                    <div class="layui-input-group">
                        <div class="layui-input-split layui-input-prefix">Port</div>
                        <input type="text" id="cfgPort" class="layui-input" value="443">
                    </div>
                </div>
                <div class="layui-col-md3">
                    <div class="layui-input-group">
                        <div class="layui-input-split layui-input-prefix">Domain</div>
                        <input type="text" id="cfgDomain" class="layui-input" value="registry.example.com">
                    </div>
                </div>
                <div class="layui-col-md2">
                    <input type="checkbox" id="cfgSsl" lay-skin="switch" lay-text="SSL|SSL" lay-filter="cfgSwitch">
                </div>
                <div class="layui-col-md2">
                    <input type="checkbox" id="cfgHttp2" lay-skin="switch" lay-text="HTTP2|HTTP2" lay-filter="cfgSwitch">
                </div>
                <div class="layui-col-md2">
                    <button type="button" class="layui-btn layui-btn-normal layui-btn-sm" id="generateBtn">Generate</button>
                </div>
            </div>
        </div>
    </fieldset>

    <div class="layui-tabs" id="extTabs" lay-options="{headerMode:'normal'}">
        <ul class="layui-tabs-header">
            <li lay-id="nginx" lay-closable="false">Nginx</li>
            <li lay-id="apache" lay-closable="false">Apache</li>
        </ul>
        <div class="layui-tabs-body">
            <div class="layui-tabs-item">
                <div id="editorNginx"></div>
                <div class="layui-form-item center" style="margin-top: 10px;">
                    <button type="button" class="layui-btn layui-btn-normal layui-btn-sm" id="copyNginxBtn">Copy</button>
                </div>
            </div>
            <div class="layui-tabs-item">
                <div id="editorApache"></div>
                <div class="layui-form-item center" style="margin-top: 10px;">
                    <button type="button" class="layui-btn layui-btn-normal layui-btn-sm" id="copyApacheBtn">Copy</button>
                </div>
            </div>
        </div>
    </div>
</div>

<#include "script.html"/>

<script>
    let id="${id!}"
</script>
<script src="${ctx}/js/admin/instExternal/index.js?v=${jsrandom}" type="text/javascript"></script>
</body>
</html>
