<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test">

            <li class="layui-nav-item <#if cookieMap['menuToggle_menu_titleTraffic']??>${(cookieMap['menuToggle_menu_titleTraffic']=='true')?string('layui-nav-itemed', '')}</#if>">
                <a class="" href="javascript:;" id="menu_titleTraffic">
                    <span style="color: aqua;">${i18n.get("menu.titleTraffic")}</span>
                </a>
                <dl class="layui-nav-child">

                    <dd> <a href="${ctx}/admin/inst">${i18n.get("menu.inst")}</a> </dd>
                    <dd> <a href="${ctx}/admin/repo">${i18n.get("menu.repo")}</a> </dd>
                    <dd> <a href="${ctx}/admin/artifact">${i18n.get("menu.artifact")}</a> </dd>
                    <dd> <a href="${ctx}/admin/account">${i18n.get("menu.account")}</a> </dd>
                </dl>
            </li>

            <li class="layui-nav-item <#if cookieMap['menuToggle_menu_titleSystem']??>${(cookieMap['menuToggle_menu_titleSystem']=='true')?string('layui-nav-itemed', '')}</#if>">
                <a class="" href="javascript:;" id="menu_titleSystem">
                    <span style="color: aqua;">${i18n.get("menu.titleSystem")}</span>
                </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="${ctx}/admin/user">${i18n.get("menu.user")}</a>
                    </dd>
                    <dd>
                        <a href="${ctx}/admin/templateConfig">${i18n.get("menu.templateConfig")}</a>
                    </dd>
                    <dd>
                        <a href="${ctx}/admin/about">${i18n.get("menu.about")}</a>
                    </dd>

                </dl>
            </li>
        </ul>

        <ul class="layui-nav layui-nav-tree" lay-filter="i18n" style="position: absolute; bottom: 0; width: 100%; border-top: 1px solid #393D49;">
            <li class="layui-nav-item">
                <a href="javascript:;" style="color: white;">
                    <i class="layui-icon layui-icon-website"></i> ${langType}
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:i18n('en_US');">English</a></dd>
                    <dd><a href="javascript:i18n('zh');">简体中文</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
