<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test">

            <li class="layui-nav-item <#if cookieMap['menuToggle_menu_titleTraffic']??>${(cookieMap['menuToggle_menu_titleTraffic']=='true')?string('layui-nav-itemed', '')}</#if>">
                <a class="" href="javascript:;" id="menu_titleTraffic">
                    <span style="color: aqua;">${i18n.get("menu.titleTraffic")}</span>
                </a>
                <dl class="layui-nav-child">

                    <dd> <a href="${ctx}/admin/inst">inst</a> </dd>
                    <dd> <a href="${ctx}/admin/repo">repo</a> </dd>
                    <dd> <a href="${ctx}/admin/artifact">artifact</a> </dd>
                    <dd> <a href="${ctx}/admin/account">account</a> </dd>
                </dl>
            </li>

            <li class="layui-nav-item <#if cookieMap['menuToggle_menu_titleSystem']??>${(cookieMap['menuToggle_menu_titleSystem']=='true')?string('layui-nav-itemed', '')}</#if>">
                <a class="" href="javascript:;" id="menu_titleSystem">
                    <span style="color: aqua;">${i18n.get("menu.titleSystem")}</span>
                </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="${ctx}/admin/user">${i18n.get("menu.user")}</a>
                    </dd>
                    <dd>
                        <a href="${ctx}/admin/about">${i18n.get("menu.about")}</a>
                    </dd>

                </dl>
            </li>
        </ul>
    </div>
</div>
